<% unless current_user.nil? %>
    <p>Welcome <%= @user.username %></p>
<% end %>
<form action="<%= session_url %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <%= auth_token %>
    <input type="submit" value="Log Out">
</form>
<h2><%= @user.username %>'s Profile</h2>
<div>
    <!-- New Comment Form -->
</div>
<div>
    <!-- Goals section -->
</div>
<%= link_to 'All Users', users_url %>