<h2><%= @user.username %>'s Profile</h2>
<section>
    <% @user.comments.each do |comment| %>
        <p><%= comment.comment %></p>
    <% end %>
</section>
<section>
    <%= render 'user_comments/user_comment_form', user_id: @user.id %>
</section>
<div>
    <ul>
        <% @user.goals.each do |g| %>
            <li>
                <%= link_to g.title, goal_url(g) %>
                <p><%= g.private ? "private" : "public" %></p>
                <form action="<%= goal_url(g) %>" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <%= auth_token %>
                    <input type="submit" value="delete '<%= g.title %>' goal">
                </form>
            </li>
        <% end %>
    </ul>
</div>
<%= link_to 'All Users', users_url %>