<main>
    <h2>Edit Goal</h2>

    <% if flash.now[:errors] %>
        <% flash.now[:errors].each do |e| %>
            <p><%= e %></p>
        <% end %>
    <% end %>

    <form action="<%= goal_url(@goal) %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <%= auth_token %>

        <label for="title">Title: </label>
        <input type="text" id="title" name="goal[title]" value="<%= @goal.title %>"><br>

        <label for="details">Details: </label>
        <textarea name="goal[details]" id="details"><%= @goal.details %></textarea> <br>

        <label for="private">Private? </label>
        <input type="radio" id="private" name="goal[private]" value="true" <%= "checked" if @goal.private %> > <br>

        <label for="completed">Completed? </label>
        <input type="radio" id="completed" name="goal[completed]" value="true" <%= "checked" if @goal.completed %> ><br>

        <input type="submit" value="New Goal">
    </form>
</main>