<%= content_for :messages do %>
    <% if flash[:goal] %>
      <p><%= flash[:goal] %></p>
      <% flash[:goal] = nil %>
    <% end %>
<% end %>

<main>
    <section>
        <h2>Goal</h2>
        <table>
            <tr>
                <th>Title: </th>
                <td><%= @goal.title %></td>
            </tr>

            <tr>
                <th>Details: </th>
                <td><%= @goal.details %></td>
            </tr>

            <tr>
                <th>Visibility: </th>
                <td><%= @goal.private ? "Private" : "Public" %></td>
            </tr>

            <tr>
                <th>Finished?: </th>
                <td><%= @goal.completed ? "Completed" : "Ongoing" %></td>
            </tr>

            <tr>
                <th>Completed?: </th>
                <td>COMPLETE BUTTON HERE</td>
            </tr>
        </table>
    </section>

    <section>
        <h4>Comments</h4>
        <% @goal.comments.each do |comment| %>
            <p><%= comment.comment_text %></p>
        <% end %>
    </section>

    <section>
        <%= render 'goal_comments/goal_comments_form', goal_id: @goal.id %>
    </section>
</main>