<!DOCTYPE html>
<html>
  <head>
    <title>GoalApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Goaling App</h1>
    <%= yield :messages %> <br>

    <nav>
      <% if current_user.nil? %>
          <%= link_to 'Sign Up', new_user_url %>
          <p>or</p>
          <%= link_to 'Log In', new_session_url %>
      <% else %>
          <p>Welcome <%= current_user.username %></p>
          <form action="<%= session_url %>" method="post">
              <input type="hidden" name="_method" value="delete">
              <%= auth_token %>
              <input type="submit" value="Log Out">
          </form>
      <% end %>
    </nav><br>

    <%= yield %>
  </body>
</html>
